* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Variables CSS colors */
:root {
  --yellowpastel-color: #feffbe;
  --purplepastel-color: #bfb9ff;
  --pinkpastel-color: #ffcfea;
  --bluepastel-color: #afe9ff;
  --greenpastel-color: #cbffe6;
  --yellowvap-bg-color: #eecd69;
  --bluedarkvap-bg-color: #50d8ec;
  --purpledark-bg-color: #dd6dfb;
  --greendark-bg-color: #05ffa1;
}
/* Style */
body {
  line-height: 2;
  font-family: "Courier New", Courier, monospace, sans-serif;
  background-color: var(--yellowpastel-color);
  color: var(--bluedarkvap-color);
}
/* En tête de la page  */
header {
  background-color: var(--purpledark-bg-color);
  color: var(--yellowpastel-color);
}
nav,
a,
img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--greendark-bg-color);
  color: var(--yellowpastel-color);
  text-decoration: none;
}

nav {
  border:
    2px solid,
    var(--purpledark-bg-color);
}

img {
  margin: 2em;
  align-items: right;
  width: 50%;
}
/* Cv */

.Skills {
  color: var(--yellowpastel-color);
  background-color: var(--bluedarkvap-bg-color);
  font-size: 1em;
}
.Works {
  background-color: var(--purpledark-bg-color);
  color: var(--yellowpastel-color);
}
.Contact {
  color: var(--yellowpastel-color);
  background-color: var(--greendark-bg-color);
}
/* Pied de page */
footer img {
  width: 10 rem;
}
